Repository pinterroniaron/Proj1-babetta-9C, pull requests merged in 2023-03, with the labels that each got.

#69 változtatások kész
  babetta207.html
  babetta210.html
  babetta228.html
  index.html
  képek/Babeta228.jpg
  képek/babettalogo.jpg
  style.css
Labels: html, formázás

#70 65 médiatár formázása
  index.html
  képek/babetta12.jpeg
  képek/babetta13.jpeg
  készítők.html
  mediatar.html
  style.css
Labels: html, formázás

#72 kész
  babetta207.html
  babetta210.html
  babetta228.html
  index.html
  style.css
Labels: html, formázás, script

#74 kép megvan
  babetta210.html
Labels: html, formázás

#76 75 apró változtatások
  készítők.html
  mediatar.html
Labels: html, formázás

#78 cards fixed
  index.html
  mediatar.html
Labels: html, formázás

#80 kép megvan
  képek/profilepic.jpg
  képek/profilepic2.jpg
  készítők.html
Labels: formázás

#82 card col
  mediatar.html
Labels: html, formázás

#83 81 cards col
  mediatar.html
Labels: html, formázás

#85 fav icon kész
  babetta207.html
  babetta210.html
  babetta228.html
  index.html
  képek/babettafavicon.png
  képek/favicon.png
  képek/favicon2.png
  készítők.html
  mediatar.html
  quiz.html
  style.css
Labels: html, formázás
