Repository pinterroniaron/Proj1-babetta-9C, pull requests merged in 2023-02, with the labels that each got.

#2 html alapjának elkészítése kész
  babetta.html
Labels: html

#10 5 nav bar
  index.html
  navbar.js
Labels: html

#23 carsouel
  index.html
  képek/babetta10.jpg
  képek/babetta4.jpg
  képek/babetta5.jpg
  képek/babetta6.jpg
  képek/babetta7.jpg
  képek/babetta8.jpg
  képek/babetta9.jpg
Labels: html, formázás

#32 228html progress
  babetta228.html
Labels: html, formázás

#33 b228 margin
  babetta228.html
Labels: html, formázás

#37 babetta207.html szerkesztése kész
  babetta207.html
Labels: html

#38 css kész
  babetta228.html
  index.html
  navbar.html
  style.css
Labels: formázás

#41 folyamatban
  babetta207.html
  style.css
Labels: html, formázás

#42 quiz kérdések kész
  quiz.html
Labels: html

#46 háttér kész
  babetta210.html
Labels: formázás

#50 quiz scriptje kész
  babetta207.html
  babetta210.html
  babetta228.html
  index.html
  navbar.html
  quiz.html
  quiz.js
  style.css
Labels: formázás

#52 háttér kész
  index.html
  navbar.html
  quiz.html
  style.css
Labels: html, formázás

#60 59 grid elkészitése
  babetta207.html
  babetta228.html
  index.html
  navbar.html
  style.css
Labels: formázás

#57 nincs befejezve
  készítők.html
Labels: html, formázás

#62 Médiatár alapja kész
  készítők.html
  mediatar.html
  navbar.html
  quiz.html
  style.css
Labels: html
